.cursor {
  position: fixed;
  z-index: 100;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #faf7ee;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 600px) {
  .cursor {
    display: none;
  }
}
