@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #000;
  --color-text: #fff;
}

[data-theme="dark"] {
  --color-primary: #fff;
  --color-text: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  cursor: none;
  background-color: var(--color-primary);
  color: var(--color-text);
}

::selection {
  background: var(--color-text);
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}
