.navigation {
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 12px;
  border-bottom: 2px solid var(--color-text);
}

.dark {
  position: relative;
  z-index: 9999999;
  border-bottom: 1px solid var(--color-text);
  cursor: pointer;
}

.main {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 120px;
}

.title {
  font-size: 3.8rem;
}

.intro {
  max-width: 600px;
  line-height: 1.5;
  font-size: 2rem;
}

.bulldozer {
  transition: 0s color;
  border-bottom: 2px solid var(--color-text);
}

.bulldozer:hover {
  position: relative;
  z-index: 9999999;
  color: #c18772;
  border: none;
  transition: 0.3s;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
}

.tech {
  font-size: 2rem;
  padding: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .list {
    max-height: 400px;
  }
}

@media (max-width: 410px) {
  .list {
    max-height: 800px;
  }
}

@media (max-width: 960px) {
  .main {
    padding: 0 24px;
  }
}
